<?xml version="1.0"?>
<config>
    <modules>
        <MKMage_Makgento>
            <version>0.1.0</version>
        </MKMage_Makgento>
    </modules>
    <global>
        <blocks>
            <makgento>
                <class>MKMage_Makgento_Block</class>
            </makgento>
        </blocks>
        <helpers>
            <makgento>
                <class>MKMage_Makgento_Helper</class>
            </makgento>
        </helpers>
        <models>
        	<backend>
                <class>MKMage_Makgento_Model_Backend</class>
            </backend>
            <featured>
                <class>MKMage_Makgento_Model</class>
            </featured>
        </models>
    </global>
     <admin>
        <routers>
            <makgento>
                <use>admin</use>
                <args>
                    <module>MKMage_Makgento</module>
                    <frontName>makgento</frontName>
                </args>
            </makgento>
        </routers>
    	</admin>
    <adminhtml>
    	<acl>
        	<resources>
            	<all>
                	<title>Allow Everything</title>
            	</all>
            	<admin>
                	<children>
                 		<system>
                     		<children>
                         		<config>
                             		<children>
                                 		<makgento>
                                     		<title>MageMobile - All</title>
                                 		</makgento>
                             		</children>
                         		</config>
                     		</children>
                 		</system>
                	</children>
            	</admin>
        	</resources>
    	</acl>
    </adminhtml>
</config>